@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Fredoka", sans-serif;
    font-size: 3rem;
    text-align: center;
    vertical-align: center;
    color: #111;
}

#pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    transform: translateX(-50%);
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#FF9400, #FECA00);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#pokemon_logo {
    width: 50%;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

#guess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 80%;
    box-sizing: border-box;
}

#title {
    -webkit-text-stroke: 2px #2F509D;
    color: #FFCB05;
    font-weight: 500;
    font-size: 4rem;
}

#tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    background-color: #fff;
}

.tileRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: inherit;
}

.tile {
    width: 15%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    background-color: #bfd7ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character {
    background-color: #bfd7ff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.succes {
    background-color: #0F0;
}

.failed {
    background-color: #F00;
}