<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta property="og:title" content="Pendu Pokemon" />
        <meta property="og:description" content="Challengez vos connaissances des Pokemon" />
        <meta property="og:image" content="images/preview.png" />
        <meta property="og:url" content="https://pokemonhanged.jorismartin.fr/" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Pendu Pokemon" />

        <title>Pendu Pokemon</title>
        <link rel="icon" href="images/pokeball.png"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.datatables.net/2.3.3/css/dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.3.3/css/dataTables.jqueryui.min.css">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/2.3.3/js/dataTables.jqueryui.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="desktopView">
            {% block body %}{% endblock %}
        </div>
        <div id="mobileView">
            Cette page est en construction sur mobile, merci d'y accéder via un ordinateur
        </div>
        <div style="position: absolute; bottom: 5px; left: 5px;">
            <img src="images/pikachu.png" style="width:100px" draggable="false"/>
        </div>
    </body>
    <script>
        const urls = {
            "hint": "{{ path("app_hint") }}",
            "replay": "{{ path("app_replay") }}",
        }
    </script>
    <script src="scripts/app.js"></script>
</html>
